<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Ventas</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Agenda</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/add">Agregar</a>
        </nav>
    </header>
    <main class="contenedor">
        <div class="contenedor-borde">
            <%- body %>
        </div>
    </main>

</body>
</html>